@charset 'utf-8';

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	color: #333;
	font: normal 16px/18px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
	display: block;
	position: relative;
}
section > p:first-child {
	padding-left: 16px;
}
section#splash {
	width: 100%;
	height: 100%;
	background: url('background.png') white no-repeat center center;
	background-size: cover;
}
div.background {
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8) url('stripe.png');
	opacity: 0.6;
}
div.center {
	position: absolute;
	top: 50%; left: 50%;
	z-index: 2;
	width: 480px;
	height: 284px;
	margin-top: -142px; /* Half the height */
	margin-left: -240px; /* Half the width */
	color: #FFF;
	text-align: center;
}
div.center header {
	display: block;
	font-size: 28px;
	font-weight: bold;
	line-height: 28px;
	/*text-shadow:
		black -2px -2px 0,
		black  2px -2px 0,
		black -2px  2px 0,
		black  2px  2px 0;*/
}
div.center header span {
	border-bottom: 2px solid white;
	padding-bottom: 4px;
}
div.center .answer {
	margin: 16px 0 0;
	padding: 0;
	font-size: 240px;
	font-weight: bold;
	line-height: 240px;
	/*text-shadow:
		#333 -2px -2px 0,
		#333  2px -2px 0,
		#333 -2px  2px 0,
		#333  2px  2px 0;*/
}

section#scores {
	display: block;
	padding: 64px 192px;
}
section#scores a.item,
section#reviews a.item {
	display: block;
	padding: 32px 16px;
	overflow: hidden;

	color: inherit;
	text-decoration: none;
}
section#scores a.item:hover,
section#scores a.item:focus,
section#reviews a.item:hover,
section#reviews a.item:focus {
	background: #F5F5F5;
}
section#scores a.item + a.item,
section#reviews a.item + a.item {
	border-top: 1px dashed #999;
}
section#scores a.item .title {
	display: block;
	float: left;
}
section#scores a.item h1 {
	margin: 0 0 16px;
	font-size: 48px;
	font-weight: normal;
	line-height: 48px;
}
section#scores a.item h2 {
	margin: 0;
	font-size: 22px;
	font-weight: normal;
	line-height: 22px;
}
section#scores a.item .score {
	display: block;
	float: right;
	text-align: right;
}
section#scores a.item .score > p:first-child {
	display: block;
	float: right;
	height: 52px;
	margin: 0 0 16px;
}
section#scores a.item .score p.note {
	clear: right;
	margin: 0;
	color: #666;
	font-size: 14px;
	line-height: 14px;
}

section#scores a.item .score .amazon {
	width: 310px;
	height: 52px;
	overflow: hidden;
	text-indent: 9999px;

	background: url('amazon.png') no-repeat center center;
}

section#scores a.item .score .metacritic {
	width: 52px;
	height: 52px;

	color: white;
	font: bold 24px/52px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;

	background: #F00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

section#reviews {
	display: block;
	padding: 0 192px 64px;
}
section#reviews a.item {
	color: #777;
	position: relative;
}
section#reviews a.item blockquote {
	margin: 0 64px 16px;
	font-style: italic;
	font-size: 32px;
	line-height: 44px;
}
section#reviews a.item cite {
	display: block;
	padding-right: 64px;
	font-size: 24px;
	text-align: right;
}
section#reviews a.item cite:before { content: '—  ';}
section#reviews a.item blockquote:before { content: '" '; }
section#reviews a.item blockquote:after { content: ' "'; }

section#share {
	display: block;
	position: absolute;
	top: 0; right: 0;
	z-index: 3;
	padding: 0 0 8px 8px;
}
section#share iframe {
	display: block;
	margin-top: 8px;
}

footer {
	display: block;
	padding: 48px 192px 32px;

	color: #FFF;
	background: #333;
}
footer a { color: inherit; }
footer ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 16px;
	font-size: 24px;
	line-height: 28px;
}

.bold { font-weight: bold; }

footer ul li + li { margin-top: 24px; }

footer .note {
	margin: 48px 0 0;
	padding-left: 16px;
	font-size: 26px;
}